<ion-header>
  <ion-navbar>
    <ion-title>{{ recipe.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="inner-recipe-page">
    <div class="recipe-left">
      <img class="recipe-img" src="{{ recipe.img }}" />
      <div
        class="recipe-instructions"
        *ngFor="let i of recipe.instructions; let step = index"
      >
        <h3>Step {{ step + 1 }}:</h3>
        <p>{{ i.text }}</p>
      </div>
    </div>
    <div class="recipe-right">
      <h2 class="ingredients-title">Ingredients:</h2>
      <ion-list class="recipe-list" *ngFor="let i of recipe.ingredients">
        <div class="list-items">
          <ion-item class="list-id">{{ i.id }}</ion-item>
          <ion-item class="list-item">{{ i.item }}</ion-item>
          <ion-item class="list-price">${{ i.price }}</ion-item>
          <div class="button-div">
            <button
              ion-button
              small
              align-right
              class="list-button"
              (click)="onAddToCart(i)"
            >
              Add To Cart
            </button>
          </div>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>
